<div class="max-w-96 mx-auto flex flex-col gap-3">
  <h2 class="text-lg font-bold text-zinc-900">Resend confirmation instructions</h2>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "cvt-form" }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>
    <div class="actions">
      <%= f.submit "Resend confirmation instructions" %>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
</div>
