<tr id="<%= dom_id(tournament_participant) %>" class="<%= tournament_participant.playing? ? "" : "line-through" %> odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
    <th scope="row" class="px-5 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= tournament_participant_iteration.index+1 %></th>
    <th scope="row" data-tooltip-target="tooltip-<%= tournament_participant.id %>" class="px-5 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= truncate(tournament_participant.name) %>
    </th>
    <td class="px-5 py-4"><%= tournament_participant.match_points %></td>
    <td class="px-5 py-4"><%= (tournament_participant.match_win_percentage * 100).round(2) %>%</td>
    <td class="px-5 py-4"><%= (tournament_participant.opponents_average_match_win_percentage * 100).round(2) %>%</td>
    <td class="px-5 py-4"><%= tournament_participant.opponents_average_match_points %></td>
    <td class="px-5 py-4 text-nowrap">
      <%= tournament_participant.number_of_wins -%>&nbsp;-&nbsp;<%= tournament_participant.number_of_losses -%>&nbsp;-&nbsp;<%= tournament_participant.number_of_draws -%>
    </td>
  <div id="tooltip-<%= tournament_participant.id %>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    <%= tournament_participant.name %><br/>
    <%= tournament_participant.obfuscated_key %>
    <div class="tooltip-arrow" data-popper-arrow></div>
  </div>
</tr>
