<%= content_for :sub_navigation do %>
  <nav>
    <ol class="flex justify-start">
      <li><%= link_to 'Tournaments', tournaments_url %></li>
      <li class="list-['>'] list-inside"><%= @round.tournament.name %></li>
    </ol>
  </nav>
<% end %>
<article>
  <h1 class="text-2xl font-bold"><%= @round.tournament.name %> > Round #<%= @round.number %></h1>
  <div class="flex">
    <div class="w-1/2">
      <h2 class="text-xl font-bold">Pairings</h2>
      <table class="border border-black p-1">
        <thead class="bg-zinc-500 text-white">
          <tr>
            <th class="p-1">Player</th>
            <th class="p-1">Pod</th>
            <th class="p-1">Seat</th>
          </tr>
        </thead>
        <tbody>
          <% @users_map.keys.sort_by { |k| @users_map[k][:name] }.each.with_index do |k, i| %>
            <tr class="<%= i % 2 == 0 ? 'bg-white' : 'bg-slate-300' %>">
              <td class="p-1"><%= @users_map[k][:name] %></td>
              <td class="p-1"><%= @users_map[k][:pod] %></td>
              <td class="p-1"><%= @users_map[k][:seating] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="w-1/2">
      <h2 class="text-xl font-bold">Pods</h2>
      <div class="grid grid-cols-2">
        <%= render partial: 'pod', collection: @pods %>
      </div>
    </div>
  </div>
</article>
