<%= content_for :sub_navigation do %>
  <nav>
    <ol class="flex justify-start">
      <li><%= link_to 'Tournaments', tournaments_url, class: "underline" %></li>
      <li class="list-['>'] list-inside"><%= link_to @round.tournament.name, @round.tournament, class: "underline" %></li>
      <li class="list-['>'] list-inside">Round <%= @round.number %></li>
    </ol>
  </nav>
<% end %>

<article>
  <div class="flex">
    <h1 class="text-2xl font-bold grow">
      Round #<%= @round.number %>
      <!-- Add round status updated by turbo stream -->
    </h1>
    <div><!-- make this updated by turbo stream -->
      <span data-controller="round-timer" data-round-timer-round-time-value="<%= 75.minutes %>" data-round-timer-started-at-value="<%= @round.started_at&.iso8601 %>" data-round-timer-finished-at-value="<%= @round.finished_at&.iso8601 %>" >
        --:--
      <span>
    </div>
  </div>
  <div class="flex">
    <div class="w-1/2">
      <h2 class="text-xl font-bold">Pairings</h2>
      <table class="border border-black p-1 w-3/4">
        <thead class="bg-zinc-500 text-white">
          <tr>
            <th class="p-2 text-left">Player</th>
            <th class="p-2 text-center">Pod</th>
            <th class="p-2 text-right">Seat</th>
          </tr>
        </thead>
        <tbody>
          <% @users_map.keys.sort_by { |k| @users_map[k][:name] }.each.with_index do |k, i| %>
            <tr class="odd:bg-white even:bg-slate-300">
              <td class="p-2"><%= @users_map[k][:name] %></td>
              <td class="p-2 text-center"><%= @users_map[k][:pod] %></td>
              <td class="p-2 text-right"><%= @users_map[k][:seating] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="w-1/2">
      <h2 class="text-xl font-bold">Pods</h2>
      <!-- Add number of pods playing updated by turbo stream -->
      <div class="grid grid-cols-2 gap-4">
        <%= render @pods %>
      </div>
    </div>
  </div>
</article>
