<%= content_for :sub_navigation do %>
  <nav>
    <ol class="flex justify-start">
      <li><%= link_to 'Tournaments', tournaments_url %></li>
      <li class="list-['>'] list-inside"><%= @tournament.name %></li>
    </ol>
  </nav>
<% end %>

<article>
  <h1 class="text-2xl font-bold"><%= @tournament.name %></h1>

  <aside>
    <%= link_to 'Edit', [:edit, @tournament] %>
  </aside>

  <section>
    <h2 class="text-xl font-bold">Registered players: <%= @tournament.tournament_participants.size %></h2>
    <% @tournament.tournament_participants.each do |tournament_participant| %>
      <%= tournament_participant.name %><br>
    <% end %>
  </section>

  <section>
    <h2 class="text-xl font-bold">Rounds:</h2>
    <% @tournament.rounds.each do |round| %>
      <%= link_to "Round #{round.number}", [@tournament, round] %><br>
    <% end %>
  </section>
</article>
