<div class="flex flex-col max-w-sm bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 <%= "!bg-purple-600 !text-white" if pod.tournament_participants.any? { |tp| current_player?(tp.player) } %>">
  <div class="flex justify-between items-center">
    <h5 class="px-6 pt-6 pb-3 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white <%= "!text-white" if pod.tournament_participants.any? { |tp| current_player?(tp.player) } %>">Pod <%= pod.number %></h5>
  </div>
  <ol class="font-normal text-gray-700 dark:text-gray-400 grow flex flex-col justify-items-stretch <%= "!text-white" if pod.tournament_participants.any? { |tp| current_player?(tp.player) } %>">
    <% pod.tournament_participants.each do |player| %>
      <li data-tooltip-placement="left" data-tooltip-target="tooltip-pods-<%= player.id %>" class="list-decimal grow list-inside last:rounded-b-lg pl-6 pr-10 py-3">
        <%= result_indicator(pod:, player:) %>
      </li>
      <div id="tooltip-pods-<%= player.id %>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        <%= player.name %><br/>
        <%= player.obfuscated_key %>
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    <% end %>
  </ol>
</div>
