<%= modal_form_for [:organizer, @tournament] do |f| %>
  <% content_for :title do %>
    <% if @tournament.persisted? %>
      Edit <%= @tournament.name %>
    <% else %>
      New Tournament
    <% end %>
  <% end %>

  <% if @tournament.errors.present? %>
    <%= safe_join(@tournament.errors.full_messages, raw("<br>")) %>
  <% end %>

  <%= f.text_field_with_label :name, placeholder: "A short, appealing name", required: true %>
  <%= f.file_field_with_label :cover %>
  <%= f.text_area_with_label :prizes, rows: 4, placeholder: "- 1st: Black Lotus,\n- 2nd~4th: Timetwister" %>
  <%= f.text_field_with_label :address, placeholder: "1600 Lind Ave SW, Renton, WA 98057, US" %>

  <div class="flex gap-2">
    <%= f.datetime_local_field_with_label :start_time, required: true %>
    <%= f.datetime_local_field_with_label :end_time, required: true %>
  </div>

  <%= f.text_area_with_label :schedule, rows: 4, placeholder: "- 9:00 Checkin\n- 10:00 First round\n- 13:00 Lunch Break\n- 19:00 Top 16" %>
  <%= f.text_area_with_label :rules, rows: 4, placeholder: "Commander Format\nCompetive REL + MAMTR:\nhttps://juizes-mtg-portugal.github.io/\nPlaytest cards allowed as long as they aren't marked and respect the rules for artistic modifications." %>

  <div class="flex gap-2">
    <%= f.number_field_with_label :minimum_participants, placeholder: "3" %>
    <%= f.number_field_with_label :maximum_participants, placeholder: "No limit" %>
  </div>

  <div class="flex gap-2">
    <%= f.number_field_with_label :price, placeholder: "Fee per player", min: 0, step: 0.01 %>
    <%= f.select_with_label :currency, currency_options, selected: @tournament.currency %>
  </div>

  <%= f.text_area_with_label :description, rows: 4, placeholder: "Additional info, like how to get to the venue, where to eat, etc." %>

  <% content_for :footer do %>
    <%= f.submit %>
    <%= link_to [:organizer, @tournament], class:"py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" do %>
      Cancel
    <% end %>
  <% end %>
<% end %>
