<%= content_for :sub_navigation do %>
  <nav class="text-xs mb-6">
    <ol class="flex justify-start space-x-1">
      <li><%= link_to 'Tournaments', organizer_tournaments_url, class: 'underline' %></li>
      <li class="text-zinc-400">&gt;</li>
      <li><%= @tournament.name %></li>
    </ol>
  </nav>
<% end %>

<div class="flex justify-between items-start">
  <h1 class="text-2xl font-bold mb-6">
    <%= @tournament.name %>
    <% if @tournament.finished? %>
      <%= badge(color: "blue") do %>
        Finished
      <% end %>
    <% end %>
  </h1>
  <% if current_user.organizer?(@tournament)%>
    <div class="text-sm">
      Manage tournament:
      <%= link_to 'Edit', [:edit, :organizer, @tournament], class: 'underline', data: {turbo_frame: "modal"} %>
    </div>
  <% end %>
</div>

<article class="flex-col space-y-4 bg-white p-6 rounded-lg border">
  <section>
    <%= turbo_frame_tag 'tournament_participants', src: [:organizer, @tournament, :tournament_participants], loading: :lazy %>
  </section>


  <% if @tournament.rounds.present? %>
    <section>
      <h2 class="text-xl font-bold">Rounds:</h2>
      <% @tournament.rounds.sort_by(&:number).each do |round| %>
        <%= link_to "Round #{round.number}", [:organizer, @tournament, round.becomes(Round)], class: 'underline' %><br>
      <% end %>
    </section>
  <% end %>
</article>
