<!DOCTYPE html>
<html>
  <head>
    <title>Canivete</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="container mx-auto px-5">
      <ul class="flex justify-between">
        <li><%= link_to 'Home', root_url %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, data: { "turbo-method": :delete } if user_signed_in? %></li>
      </ul>
    </nav>
    <main class="container mx-auto mt-28 px-5 flex flex-col">
      <%= yield :sub_navigation %>
      <div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
