<div
  id="pod_<%= pod.id %>"
  class="
    scroll-mt-20 overflow-clip flex flex-col max-w-sm bg-white border
    border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800
    dark:border-gray-700 dark:hover:bg-gray-700
  "
>
  <div class="flex justify-between items-center">
    <h5
      class="
        px-6 pt-6 pb-3 mb-2 text-2xl font-bold tracking-tight text-gray-900
        dark:text-white
      "
    >
      Pod <%= pod.number %>
    </h5>
    <% if pod.round.started? %>
      <%= link_to [:new, :organizer, pod.tournament, pod.round.becomes(Round), pod, :result], data: {turbo_frame: "modal"}, class: "me-6 px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>
        <%= icon("hand-deposit", class: "me-1") %>
        <% if pod.finished? %>
          Change
        <% else %>
          Insert
        <% end %>
        result
      <% end %>
    <% end %>
  </div>
  <ol
    class="
      font-normal text-gray-700 dark:text-gray-400 grow flex flex-col
      justify-items-stretch
    "
  >
    <% pod.tournament_participants.each do |player| %>
      <li
        data-tooltip-placement="left"
        data-tooltip-target="tooltip-pods-<%= player.id %>"
        class="group list-decimal grow list-inside last:rounded-b-lg px-6 py-3"
      >
        <%= result_indicator(pod:, player:) %>
        <% unless pod.round.published? %>
          <%= link_to [:swap, :organizer, pod.tournament, pod.round.becomes(Round), :seatings], data: {action: 'click->swap#selectPlayer', 'swap-player-param' => player.id, 'swap-pod-param' => pod.id, 'turbo-method': 'patch'}, class: "ms-2 float-end hidden group-hover:inline-flex text-purple-700 border border-purple-700 hover:bg-purple-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-full text-sm p-1 text-center items-center dark:border-purple-500 dark:text-purple-500 dark:hover:text-white dark:focus:ring-purple-800 dark:hover:bg-purple-500" do %>
            <%= icon("swap", class: "me-1") %>
            <span class="text-[0.5rem] leading-[0.5rem]">SWAP</span>
          <% end %>
        <% else %>
          <%= link_to [:new, :organizer, pod.tournament, pod.round.becomes(Round), pod, :infraction, { player_id: player.player_id }], data: {turbo_frame: "modal"}, class: "float-end hidden group-hover:inline-flex text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-full text-sm p-1 text-center items-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:focus:ring-red-900 dark:hover:bg-red-600" do %>
            <%= icon("gavel", class: "me-1") %>
            <span class="text-[0.5rem] leading-[0.5rem]">PENALTY</span>
          <% end %>
        <% end %>
      </li>
      <div
        id="tooltip-pods-<%= player.id %>"
        role="tooltip"
        class="
          absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium
          text-white transition-opacity duration-300 bg-gray-900 rounded-lg
          shadow-sm opacity-0 tooltip dark:bg-gray-700
        "
      >
        <%= player.name %>
        <br>

        <%= player.obfuscated_key %>
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    <% end %>
  </ol>
</div>
